<h1>WHAT IS THIS?!</h1>

<div>Indovina Zoo is a game about animals (who'd have thought?) in which you're asked
to find out which of the two animals you're shown the sound you hear belongs to!

You just have to tell us the number of such quizzes you want to play and the difficulty level!

Enjoy ; )!
</div>