<h1 id='game'>GIOCA!</h1>

<div id='div_timer' align='center'></div>
<div id='container' align='center'>
<table>

<tr><td class="game_figure"><span id='animal'></span></td>
<td id="game_sound"><span id='sound'></span></td>
<td class="game_figure"><span id='alternative'></span></td> 

</tr>
</table>


</div>

<button type='button' id='next'>Skip</button>

