<h1 id="game"></h1>


<div id='score'></div>

<div id='div_timer' align='center' class='div_timer'></div>
<div id='div_transp'>
<div id='container' align='center'>
<table id="table_quiz" class="transparent">

<tr><td><span id='animal' class="game-figure"></span></td>
<td id="game_sound"><span id='sound'></span></td>
<td><span id='alternative' class="game-figure"></span></td> 

</tr>
</table>


</div>

</div>

<div id="button-game" align="center"></div>

<div align="center">

<button type='button' id='next' class="skip-button">Skip</button>

</div>