<h1 id='game'>GIOCA!</h1>

<div id='div_timer'></div>

<div id='container'>
	<span id='animal'></span>
	<span id='sound'></span>
	<span id='alternative'></span>
</div>


<button type='button' id='next'>Skip</button>

