<h1>INDOVINA ZOO</h1>
<p>Find me in app/views/pages/home.html.erb</p>

    
<form action="pages/game" method="get" id="disappear">

  <legend>How many quizzes do you want to play?</legend>
  <p>            
    <input type = "radio" name = "num" value = "1" required />
    <label >1</label>

    <input type = "radio" name = "num" value = "3" required />
    <label >3</label>

    <input type = "radio" name = "num" value = "5" required />
    <label >5</label>
  </p>
      

  <legend>How much do you know about animals?</legend>
  <p>            
    <input type = "radio" name = "diff" value = "easy" required />
    <label >Animals?</label>

    <input type = "radio" name = "diff" value = "medium" required />
    <label >I like cats!</label>

    <input type = "radio" name = "diff" value = "hard" required />
    <label >Roar!</label>
  </p>

  
  <input type="submit" value="Start game"/>
</form>





