<h1 id='ranking'>CLASSIFICA!</h1>

<table>
  <th>Users</th><th>Scores</th>
    <% @top_users.each do |ranked_user| %>
    <tr>
      <td><%= ranked_user.username %></td>
      <td><%= ranked_user.send("max_#{params[:diff]}") %></td>
    </tr>
    <% end %>
</table>

