<div class="center-div">
<table class="transparent_home" >
<tr><th class="legend">New animal</th></tr>
<tr><td></td></tr>
<tr><td>

<%= render 'form' %>

<%= link_to 'Back', animals_path %>

</td></tr>

</table>
</div>
