/****** application.html.erb and _user_widget.html.erb style ******/


/* background image */

#back-img 
{
    background-image: url('indovina_zoo.png');
}


#title-zoo
{
    color:yellow; 
    font-size:800%;     
    text-shadow: -4px -4px 20px #000; 
    font-family : "mpact","Charcoal","fantasy";
    margin: 80px 80px 80px;
    text-align: center;
}


#user_widget
{
    text-align: right;
    font-weight: bold;
}


/* menubar */

.menu-text
{
    font-size: 60%;
    font-weight: bold;
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.menu-text:hover 
{
    opacity: 1;
}

.transparent-menu
{
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    height: 40px;
    width: 700px;
    font-size: 50px;
    font-weight: bold;
}


/* link change account details style */

#change-det
{
    font-size: 16px;
    font-weight: bold;
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

#change-det:hover 
{
     opacity: 1;
}


/* login - logout style */

#logging
{
    font-size: 130%;
    font-weight: bold;
    opacity: 0.8;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

#logging:hover 
{
      opacity: 1;
}

.transparent_login 
{
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    height: 40px;
    width: 400px;
}

.transparent_logout 
{
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    height: 40px;
    width: 150px;
}







	


