td.game_figure
{
	border: 10px solid black;
}

.hover {
   
    -webkit-transform: scale(8,8);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(8,8);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    position: relative;
    z-index: 99;
}
#div_timer
{
	font-size: 50px;
	color: #ff0000;
	font-weight: bold;
	opacity: 1;
}

.div_timer {
  
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}
/*
#div_timer
{
	font-size: 50px;
	color: #ff0000;
	font-weight: bold;
}

#div_timer {

    opacity: 1;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

*/

#score
{
	font-size: 30px;
	color: #ff0000;
	font-weight: bold;
}

.transparent_result {
  position: absolute;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
 /*height: 400px;
  /*height: 100%;*/
 width: 400px;
  /*width: 40%;*/
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  	

}

#ranking_button
{
	margin-top: 30px;
	margin-bottom: 30px;
	text-align : center;
        height: 80px;
        width: 500px;   
        font-size: 26px;
        font-weight: bold;
        -webkit-animation: pulse 3s infinite ease-in-out;
        -moz-animation: pulse 3s infinite ease-in-out;
 
    
}

#next
{
	margin-top: 30px;
	margin-bottom: 30px;
	text-align : center;
        height: 80px;
        width: 200px;   
        font-size: 26px;
        font-weight: bold;
        -webkit-animation: pulse 3s infinite ease-in-out;
        -moz-animation: pulse 3s infinite ease-in-out;
 
    
}


	
